<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
/>
<h2>Creacion de un chat con Websocket</h2>
<form id="form">
  <input type="text" name="mensaje" id="mensaje" />
  <input type="submit" value="Enviar" />
</form>
<div id="historial"></div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>